<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать ресторан</title>
</head>
<body>
    <h1>Редактировать ресторан</h1>
    <ul>
        <li><a href="{% url 'restaurants' %}">Список лучших ресторанов Москвы</a></li>
        <li><a href="{% url 'createRestaurant' %}">Добавить ресторан</a></li>
    
    </ul>
    <form method="post">
        {% csrf_token %}

        <label for="header">Название Ресторана:</label>
        <input type="text" id="header" header="header" value="{{ restaurant.header }}"><br>
        <label for="text">Описание ресторана:</label>
        <input type="text" id="text" name="text" value="{{ restaurant.text }}"><br>
        <label for="text">Информация о ресторане:</label>
        <input type="text" id="text" name="text" value="{{ restaurant.text }}"><br>
        
        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>